In [1]:
import pandas as pd
import seaborn as sns
import sklearn
import numpy as np
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
match_wise_df = pd.read_csv("../../../data/fivb/2019_women_world_cup_match-wise.csv")
player_wise_df = pd.read_csv("../../../data/fivb/2019_women_world_cup_player-wise.csv")
matches_df = pd.read_csv("../../../data/fivb/2019_women_world_cup_matches.csv")

In [3]:
match_wise_df.head(20)

,Match Num,Team,Opponent,Set 1 Duration,Set 1 Scored,Set 1 Against,Set 2 Duration,Set 2 Scored,Set 1 Against.1,Set 3 Duration,Set 3 Scored,Set 3 Against,Attack,Block,Serve,Opp. Errors,Total,Dig,Reception,Set
0,1,USA,KEN,19,25,20,24,25,20,20,25,14,47,6,7,15,75,40,17,31
1,1,KEN,USA,19,14,25,24,20,25,20,14,25,29,4,2,13,48,19,11,13
2,2,CMR,RUS,21,14,25,26,15,25,21,10,25,20,6,1,12,39,22,6,15
3,2,RUS,CMR,21,25,15,26,25,15,21,25,10,39,9,8,19,75,40,5,14
4,3,ARG,NED,21,16,25,26,17,25,23,19,25,35,2,2,13,52,42,16,6
5,3,NED,ARG,21,25,17,26,25,17,23,25,19,47,8,4,16,75,43,15,14
6,4,CHN,KOR,25,25,15,23,25,15,22,25,14,46,12,6,11,75,53,22,24
7,4,KOR,CHN,25,21,25,23,15,25,22,14,25,37,4,2,7,50,45,14,14
8,5,SRB,BRA,28,20,23,29,25,23,26,18,25,58,13,5,24,100,81,17,25
9,5,BRA,SRB,28,25,25,29,23,25,26,25,18,64,18,3,25,110,78,19,51
10,6,DOM,JPN,30,21,25,25,11,25,37,26,24,53,5,0,14,72,74,21,23
11,6,JPN,DOM,30,25,11,25,25,11,37,24,26,74,6,3,16,99,107,22,45
12,7,KEN,NED,19,12,25,23,19,25,21,17,25,27,5,3,13,48,28,10,12
13,7,NED,KEN,19,25,19,23,25,19,21,25,17,38,7,5,25,75,35,11,21
14,8,CMR,CHN,22,18,25,25,14,25,29,19,25,37,4,4,6,51,29,5,21
15,8,CHN,CMR,22,25,14,25,25,14,29,25,19,44,7,7,17,75,44,3,25
16,9,USA,SRB,29,23,17,23,25,17,23,25,16,59,15,3,21,98,46,29,33
17,9,SRB,USA,29,25,25,23,17,25,23,16,25,51,5,4,13,73,34,30,5
18,10,KOR,DOM,24,17,24,33,26,24,31,23,25,62,7,5,15,89,85,20,51
19,10,DOM,KOR,24,25,26,33,24,26,31,25,23,70,6,2,21,99,84,17,35

In [4]:
df = match_wise_df
features = ["Attack", "Block", "Serve", "Opp. Errors", "Total", "Dig", "Reception", "Set"]
raw_df = df[features]
cum_df = pd.DataFrame(np.zeros(raw_df.shape), columns=features)
for i in range(len(cum_df)):
    team = df.loc[i]["Team"]
    count = 1
    for j in range(i-1, -1, -1):
        if df.loc[j]["Team"] == team:
            cum_df.loc[i] += raw_df.loc[j]
            count += 1
    cum_df.loc[i] /= count
cum_df

,Attack,Block,Serve,Opp. Errors,Total,Dig,Reception,Set
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...
127,42.000000,5.000000,3.454545,12.545455,63.000000,50.090909,14.454545,22.636364
128,32.272727,4.909091,3.181818,12.818182,53.181818,36.363636,10.909091,19.000000
129,28.454545,3.818182,2.545455,10.636364,45.454545,29.909091,9.727273,18.818182
130,50.636364,4.545455,3.818182,15.272727,74.272727,64.000000,20.727273,31.545455
131,48.454545,6.636364,3.636364,14.000000,72.727273,44.818182,13.454545,22.181818

In [9]:
features = np.zeros((len(match_wise_df) // 2, 2*8))
for i in range(len(match_wise_df) // 2):
    features[i][:8] = cum_df.loc[2*i]
    features[i][8:] = cum_df.loc[2*i + 1]

labels = matches_df["Winner"].to_numpy()

print(features.shape, labels.shape)

(66, 16) (66,)

In [10]:
X_train, X_test, y_train, y_test = train_test_split(features, labels, test_size=0.3, random_state=0, stratify=labels)

In [30]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [31]:
# model =  DecisionTreeClassifier()
# model = RandomForestClassifier(n_estimators=150)
model = LogisticRegression(random_state = 0,class_weight='balanced')

In [32]:

model.fit(X_train, y_train)
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 85.00%

# Results

Decision Tree: 50%

Random forest: 75%

Logistic Regression: 85%